/* ESTILOS GERAIS */
h1,
h2,
body,
ul,
li {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
  font-family: 'Noto Serif';
}

/* LISTA PRODUTO */

.produtos {
  max-width: 56.25rem;
  margin: 6.25rem auto 0 auto;
}

.produto {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.produto_img {
  max-width: 18.75rem;
  margin-right: 2.5rem;
}

.produto_titulo {
  font-size: 3rem;
  line-height: 1;
}

.produto_preco {
  color: rgba(0, 0, 0, 0.5);
}
