/* ESTILOS GERAIS */
h1,
h2,
body,
ul,
li,
p {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
  font-family: 'Noto Serif', serif;
}

#app {
  padding: 0 5rem;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  max-width: 56.25rem;
  padding: 1.25rem 0;
  margin: 0 auto;
}

.logo {
  width: 5rem;
}

.carrinho_menu::after {
  content: '';
  display: inline-block;
  background: url('./assets/carrinho.svg') no-repeat center center;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.875rem;
}

.carrinho_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* LISTA PRODUTO */

.produtos {
  max-width: 56.25rem;
  margin: 6.25rem auto 0 auto;
}

.produto {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.produto_img {
  max-width: 18.75rem;
  margin-right: 2.5rem;
}

.produto_titulo {
  font-size: 3rem;
  line-height: 1;
}

.produto_preco {
  color: rgba(0, 0, 0, 0.5);
}

/* MODAL */

.modal::before {
  content: '';
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 5rem;
}

.modal_container {
  position: relative;
  background: linear-gradient(to right, transparent 15.625rem, #fff 15.625rem);
  z-index: 1;
  display: grid;
  align-items: end;
  gap: 3.125rem;
  padding: 0 3.125rem 3.125rem 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

.modal_img {
  margin-top: 3.125rem;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal_img img {
  max-width: 18.75rem;
  display: block;
}

.modal_dados {
  grid-column: 2;
  max-width: 35rem;
}

.modal_titulo {
  font-size: 3rem;
}

.modal_btn {
  margin-top: 5rem;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 0.875rem 1.5rem;
  font-family: 'Noto Serif', serif;
  transition: 0.2s;
}

.modal_btn:active {
  background-color: #808080;
}

.modal_btn.esgotado {
  background-color: #808080;
}

.modal_fechar {
  position: absolute;
  top: -1.25rem;
  font-size: 1rem;
  right: -1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #000;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* AVALIAÇÕES */

.avaliacoes {
  grid-column: 2;
}

.avaliacao {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.avaliacoes_subtitulo {
  font-size: 1.75rem;
}

.avaliacao_descricao {
  color: rgba(0, 0, 0, 0.7);
  margin: 1.25rem 0 5px 0;
}

.avaliacao_usuario {
  font-weight: bold;
}

/* ALERTA */

.alerta {
  position: absolute;
  top: 1.25rem;
  left: 0px;
  z-index: 10;
  width: 100%;
  text-align: center;
  display: none;
}

.alerta.ativo {
  display: block;
  animation: fadeInDown 0.3s forwards;
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -1.875rem, 0);
    opacity: 0;
  }
  to {
    transform: initial;
    opacity: 1;
  }
}

.alerta_mensagem {
  background-color: #fff;
  display: inline-block;
  padding: 1.25rem 2.5rem;
  border: 2px solid;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);
}
